.jqzoom{float:left; position:relative; padding:0px;border:1px solid #dadada;cursor:pointer;}
.jqzoom img{float:left;} 
.zoomdiv {z-index: 100; position: absolute; top:0px; left:0px; width: 200px; height:200px; background: #fff; border:1px solid #CCC; display:none;text-align: center;overflow: hidden; } 
.jqZoomPup{z-index: 10; visibility: hidden; position:absolute;top:0px;left:0px; border: 1px solid #fff;background:#fff;opacity: 0.5;} 